.footer {
	max-width: 1920px;
	width: 100%;
	background-color: $c_grey_light;
	height: 250px;
	font-family: $custom_font;
	.menu {
		@include flexbox(flex, row, space-between, center);
		max-width: 1200px;
		width: 1200px;
		margin: 0 auto;
		padding-left: 10px;
		padding-right: 10px;
	 	height: 70px;
	 	div {
	 		color: $c_white;
	 	}
	 	div:hover {
	 		color: $c_red;
	 	}
	}
	.header_logo {
		max-width: 1200px;
		width: 1200px;
		margin: 0 auto;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 50px;
		@include flexbox(flex, row, space-between, center);
		.logo {
			width: 384px;
		}
	}
}