.header {
	max-width: 1920px;
	max-height: 190px;
	width: 100%;
	min-width: inherit;
	background-color: $c_grey;
	position: absolute;
	opacity: 0.9;
	@include flexbox(flex, column, flex-start, center);
 	z-index: 100;
 	.header_logo {
		@include flexbox(flex, row, space-between, center);
	 	max-width: 1200px;
	 	width: 100%;
	 	height: 140px;
		.adress_tel, .email_site_open {
			font-size: 14px;
			height: 100px;
			@include flexbox(flex, column, space-around, baseline);
		}
	}
	.menu {
		@include flexbox(flex, row, space-between, center);
	 	max-width: 1200px;
	 	width: 100%;
	 	height: 50px;
	 	div {
	 		color: $c_white;
	 	}
	 	div:hover {
	 		color: $c_red;
	 	}
		.call_back {
			background-color: $c_grey_light;
			border: none;
			border-radius: 5px;
			padding: 5px 20px;
		}
	 	.call_back:hover {
	 		background-color: $c_red;
	 		color: $c_white;
	 	}
	}
}